*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #e2e2e2;
  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  transition: all 400ms linear;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:hover {
  transition: all 400ms linear;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 1.5);
  z-index: 1000;
}

.polaroid:first-child {
  transform: rotate(-30deg);
  top: 10em;
  left: 5em;
}

.polaroid:first-child :hover {
  transform: rotate(0deg);
  z-index: 1000;
}

.polaroid:nth-child(2) {
  transform: rotate(15deg);
  top: 15em;
  left: 12em;
}

.polaroid:nth-child(2):hover {
  transform: rotate(0deg);
  z-index: 2000;
}

.polaroid:last-child {
  transform: rotate(30deg);
  top: 10em;
  left: 18em;
}

.polaroid:last-child:hover {
  transform: rotate(0deg);
  z-index: 3000;
}
